#container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: lightblue;
  height: 500px;
  width: 500px;
}

.block {
  float: left;
  display: inline-block;
  background-color: orange;
  height: 25px;
  width: 25px;
}

button {
  display: block;
  margin: auto;
}
